{#
/**
 * @file xp_diff_per_min_deltas.html.twig
 * Default theme implementation to present Xp diff per min deltas data.
 *
 * This template is used when viewing Xp diff per min deltas pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_xp_diff_per_min_deltas()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('xp_diff_per_min_deltas') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
