{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="container d-flex h-100">
  <form{{ attributes.addClass(['align-self-center', 'justify-content-center', 'w-100']) }}>
    {{ children }}
  </form>
</div>
